// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/*universal*/

$gray-medium-light: #eaeaea;

body {
	padding-top: 60px;
}


a {
	color: black;
	font-family: Arial;
}
a:hover {
	color: orange;
}
